@charset "UTF-8";

div#image-container{
	width: 100%;
	height: auto;
	margin: 0px;

}
.responsive-image{
	width: 100%;
	height: auto;
}
div#image-container > img{
	width: 100px;
	height: 120px;
	padding: 0px;
	cursor: pointer;
	margin-left: -4px;
	
}
.activeness{
	border:2px solid #FFFFFF;
}
div#preview-container{
	width: 100%;
	height: 550px;
	background-repeat: no-repeat;
	
}
body{
	font-family: 'Montserrat', sans-serif;
}
/* #preview-container img{
	width: 620px;
	height: 550px;
  } */

/* #previewer{
	width: 100%;
} */

/* Trying something out */
/* div.image-container-dropdown{
	cursor: pointer;
	width: 50px;
	height: 20px;
	background-color: white;
} */